@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  /* Accent / Interactive */
   --color-primary: #FAA202;
  --color-primary-hover: #FFB84D;
  /* --color-primary: #477FF7;
  --color-primary-hover: #165DF5; */

  /* Backgrounds */
  --color-surface: #191919;
  --color-surface-light: #242424;
  --color-surface-border: #3b3a3a;

  /* Text */
  --color-text: #f2f2f2;
  --color-text-muted: #849399;

  /* Status */
  --color-success: #6DD230;
  --color-danger: #F45532;
  --color-warning: #FAA202;
}

body {
  margin: 0;
  background-color: #121212;
  color: var(--color-text);
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Open Sans', system-ui, sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(56%) sepia(97%) saturate(1500%) hue-rotate(18deg) brightness(103%) contrast(101%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
